In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-py2.py3-none-any.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-py2.py3-none-any.whl (398 kB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading sqlalchemy-2.0.39-cp313-cp313-macosx_11_0_arm64.whl.metadata (9.6 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/recommender-system/lib/python3.13/site-packages (from SQLAlchemy) (4.12.2)
Downloading sqlalchemy-2.0.39-cp313-cp313-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 22.9 MB/s eta 0:00:00
Installing collected packages: SQLAlchemy
Successfully installed SQLAlchemy-2.0.39
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp313-cp313-macosx_12_0_arm64.whl.metadata (31 kB)
Requirement already satisfied: numpy>=1.19.5 in /opt/anaconda3/envs/recommender-system/lib/python3.13/site-packages (from scikit-learn) (2.2.4)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.2-cp313-cp313-macosx_12_0_arm64.whl.metadata (61 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp313-cp313-macosx_12_0_arm64.whl (11.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.1/11.1 MB 25.4 MB/s eta 0:00:00a 0:00:01
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.2-cp313-cp313-macosx_12_0_arm64.whl (30.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.1/30.1 MB 26.6 MB/s eta 0:00:00a 0:00:01
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.2 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
from sklearn.metrics.pairwise import cosine_similarity

In [71]:
# データベースの接続情報
DB_USER = "ryoueno"
DB_PASSWORD = "tech0-himdb"
DB_HOST = "tech0-gen-8-step4-him-database.mysql.database.azure.com"
DB_PORT = 3306
DB_NAME = "hsp-db"

In [149]:
# MySQLに接続
engine = create_engine(f"mysql+mysqlconnector://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

#### Usersテーブルの情報取得

In [162]:
# SQLクエリ
query_users = "SELECT user_id, gender, relationship_id, area_id, birth_date FROM Users;"

In [163]:
df_users = pd.read_sql(query_users, engine)
df_users["gender"] = df_users["gender"].map({"M": 0, "F": 1, "U": 2})

In [164]:
print(df_users)

    user_id  gender  relationship_id  area_id  birth_date
0         1       0                1        1  1955-06-10
1         2       0                1        3  1951-03-22
2         3       0                1        2  1948-09-15
3         4       1                2        5  1957-12-01
4         5       1                2        4  1949-04-25
5         6       0                1        6  1953-10-30
6         7       1                2        7  1958-08-12
7         8       0                1        8  1952-01-05
8         9       1                2        9  1955-11-18
9        10       0                1       10  1975-07-20
10       11       1                2        1  1980-03-14
11       12       0                1        3  1968-12-22
12       13       1                2        2  1972-06-05
13       14       0                1        5  1979-09-30
14       15       1                2        4  1965-04-18
15       16       0                3        6  1982-08-21
16       17       0                3        7  1977-10-11
17       18       1                3        8  1981-02-05
18       19       0                3        9  1970-06-25
19       20       1                3       10  1993-09-15
20       21       0                3        1  1996-01-09
21       22       1                3        3  1991-07-19
22       23       0                3        2  1998-11-12
23       24       1                3        5  1997-05-24
24       25       0                3        4  2000-03-27
25       26       1                3        6  1989-08-29
26       27       0                3        7  1995-04-15
27       28       1                3        8  2010-11-30
28       29       0                3        9  2012-07-07
29       30       1                3       10  2011-09-25

In [165]:
# 年齢の計算
df_users["age"] = pd.to_datetime("today").year - pd.to_datetime(df_users["birth_date"]).dt.year
df_users.drop(columns=["birth_date"], inplace=True)

In [166]:
# 年齢の画像表示 Min-Maxスケーリング
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_users["age"] = scaler.fit_transform(df_users[["age"]])

In [167]:
print(df_users.dtypes)

user_id              int64
gender               int64
relationship_id      int64
area_id              int64
age                float64
dtype: object

In [168]:
print(df_users["age"].describe())
print(df_users["age"].unique())

count    30.000000
mean      0.542188
std       0.313929
min       0.000000
25%       0.273438
50%       0.531250
75%       0.855469
max       1.000000
Name: age, dtype: float64
[0.890625 0.953125 1.       0.859375 0.984375 0.921875 0.84375  0.9375
 0.578125 0.5      0.6875   0.625    0.515625 0.734375 0.46875  0.546875
 0.484375 0.65625  0.296875 0.25     0.328125 0.21875  0.234375 0.1875
 0.359375 0.265625 0.03125  0.       0.015625]

In [169]:
df_users

    user_id  gender  relationship_id  area_id       age
0         1       0                1        1  0.890625
1         2       0                1        3  0.953125
2         3       0                1        2  1.000000
3         4       1                2        5  0.859375
4         5       1                2        4  0.984375
5         6       0                1        6  0.921875
6         7       1                2        7  0.843750
7         8       0                1        8  0.937500
8         9       1                2        9  0.890625
9        10       0                1       10  0.578125
10       11       1                2        1  0.500000
11       12       0                1        3  0.687500
12       13       1                2        2  0.625000
13       14       0                1        5  0.515625
14       15       1                2        4  0.734375
15       16       0                3        6  0.468750
16       17       0                3        7  0.546875
17       18       1                3        8  0.484375
18       19       0                3        9  0.656250
19       20       1                3       10  0.296875
20       21       0                3        1  0.250000
21       22       1                3        3  0.328125
22       23       0                3        2  0.218750
23       24       1                3        5  0.234375
24       25       0                3        4  0.187500
25       26       1                3        6  0.359375
26       27       0                3        7  0.265625
27       28       1                3        8  0.031250
28       29       0                3        9  0.000000
29       30       1                3       10  0.015625

In [170]:
df_users = pd.get_dummies(df_users, columns=["area_id"])

In [172]:
area_columns = [col for col in df_users.columns if col.startswith("area_id_")]
df_users[area_columns] = df_users[area_columns].astype(int)

In [173]:
df_users

,user_id,gender,relationship_id,age,area_id_1,area_id_2,area_id_3,area_id_4,area_id_5,area_id_6,area_id_7,area_id_8,area_id_9,area_id_10
0,1,0,1,0.890625,1,0,0,0,0,0,0,0,0,0
1,2,0,1,0.953125,0,0,1,0,0,0,0,0,0,0
2,3,0,1,1.000000,0,1,0,0,0,0,0,0,0,0
3,4,1,2,0.859375,0,0,0,0,1,0,0,0,0,0
4,5,1,2,0.984375,0,0,0,1,0,0,0,0,0,0
5,6,0,1,0.921875,0,0,0,0,0,1,0,0,0,0
6,7,1,2,0.843750,0,0,0,0,0,0,1,0,0,0
7,8,0,1,0.937500,0,0,0,0,0,0,0,1,0,0
8,9,1,2,0.890625,0,0,0,0,0,0,0,0,1,0
9,10,0,1,0.578125,0,0,0,0,0,0,0,0,0,1
10,11,1,2,0.500000,1,0,0,0,0,0,0,0,0,0
11,12,0,1,0.687500,0,0,1,0,0,0,0,0,0,0
12,13,1,2,0.625000,0,1,0,0,0,0,0,0,0,0
13,14,0,1,0.515625,0,0,0,0,1,0,0,0,0,0
14,15,1,2,0.734375,0,0,0,1,0,0,0,0,0,0
15,16,0,3,0.468750,0,0,0,0,0,1,0,0,0,0
16,17,0,3,0.546875,0,0,0,0,0,0,1,0,0,0
17,18,1,3,0.484375,0,0,0,0,0,0,0,1,0,0
18,19,0,3,0.656250,0,0,0,0,0,0,0,0,1,0
19,20,1,3,0.296875,0,0,0,0,0,0,0,0,0,1
20,21,0,3,0.250000,1,0,0,0,0,0,0,0,0,0
21,22,1,3,0.328125,0,0,1,0,0,0,0,0,0,0
22,23,0,3,0.218750,0,1,0,0,0,0,0,0,0,0
23,24,1,3,0.234375,0,0,0,0,1,0,0,0,0,0
24,25,0,3,0.187500,0,0,0,1,0,0,0,0,0,0
25,26,1,3,0.359375,0,0,0,0,0,1,0,0,0,0
26,27,0,3,0.265625,0,0,0,0,0,0,1,0,0,0
27,28,1,3,0.031250,0,0,0,0,0,0,0,1,0,0
28,29,0,3,0.000000,0,0,0,0,0,0,0,0,1,0
29,30,1,3,0.015625,0,0,0,0,0,0,0,0,0,1

In [174]:
# 変換後のデータ確認
print(df_users["age"].describe())
print(df_users["age"].unique())

count    30.000000
mean      0.542188
std       0.313929
min       0.000000
25%       0.273438
50%       0.531250
75%       0.855469
max       1.000000
Name: age, dtype: float64
[0.890625 0.953125 1.       0.859375 0.984375 0.921875 0.84375  0.9375
 0.578125 0.5      0.6875   0.625    0.515625 0.734375 0.46875  0.546875
 0.484375 0.65625  0.296875 0.25     0.328125 0.21875  0.234375 0.1875
 0.359375 0.265625 0.03125  0.       0.015625]

#### UserTags情報の取得

In [175]:
query_tags = """
SELECT u.user_id, t.tag_id
FROM UserTags u
JOIN Tags t ON u.tag_id = t.tag_id;
"""

SQL構文	説明
SELECT u.user_id, t.tag_id	user_id（ユーザー）と tag_id（タグ）を取得
FROM UserTags u	UserTags テーブルを u という別名で参照
JOIN Tags t	Tags テーブルを t という別名で参照し、UserTags と結合
ON u.tag_id = t.tag_id	UserTags の tag_id と Tags の tag_id が一致する行を取得

In [176]:
df_tags = pd.read_sql(query_tags, engine)
df_tags

    user_id  tag_id
0         7       8
1        13       8
2        19       8
3        27       8
4         2       3
..      ...     ...
81       22       7
82        5      10
83       11      10
84       19      10
85       28      10

[86 rows x 2 columns]

In [178]:
# ワンホットエンコーディング
df_tags_onehot = df_tags.pivot_table(index="user_id", columns="tag_id", aggfunc="size", fill_value=0)
df_tags_onehot = df_tags_onehot.add_prefix("tag_")
df_tags_onehot

tag_id,tag_1,tag_2,tag_3,tag_4,tag_5,tag_6,tag_7,tag_8,tag_9,tag_10,...,tag_17,tag_18,tag_19,tag_20,tag_21,tag_22,tag_23,tag_24,tag_25,tag_26
user_id,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1
11,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
16,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,0,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
19,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
22,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
23,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
26,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
27,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
28,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
30,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0

#### PointTransaction情報の取得

In [179]:
query_transactions = "SELECT user_id, store_id FROM pointtransaction WHERE user_id IS NOT NULL;"
df_pointtransaction = pd.read_sql(query_transactions, engine)
df_pointtransaction

    user_id  store_id
0         1         1
1         2         2
2         3         3
3         4         4
4         5         5
5         6         6
6         1         1
7         2         2
8         3         3
9         4         4
10        5         5
11        6         6
12        1         1
13        2         2
14        3         3
15        4         4
16        5         5
17        6         6
18       12         3
19        7         2
20       18         5
21        4         1
22       22         4
23        6         6
24        3         5
25       19         1
26        8         4
27       15         2
28       10         6
29       20         3
30       17         1
31        9         3
32        5         6
33       14         2
34       11         4
35       21         5
36       14         2
37        7         5
38        3         1
39       21         6
40       19         3
41        6         4
42        5         4
43       16         2
44       11         5
45        9         3
46       22         1
47       18         6
48        4         5
49       23         2
50       10         6
51        8         3
52       17         1
53       20         4

In [180]:
# ワンホットエンコーディング
df_transactions_onehot = df_pointtransaction.pivot_table(index="user_id", columns="store_id", aggfunc="size", fill_value=0)
df_transactions_onehot = df_transactions_onehot.add_prefix("store_")
df_transactions_onehot

store_id  store_1  store_2  store_3  store_4  store_5  store_6
user_id
1               3        0        0        0        0        0
2               0        3        0        0        0        0
3               1        0        3        0        1        0
4               1        0        0        3        1        0
5               0        0        0        1        3        1
6               0        0        0        1        0        4
7               0        1        0        0        1        0
8               0        0        1        1        0        0
9               0        0        2        0        0        0
10              0        0        0        0        0        2
11              0        0        0        1        1        0
12              0        0        1        0        0        0
14              0        2        0        0        0        0
15              0        1        0        0        0        0
16              0        1        0        0        0        0
17              2        0        0        0        0        0
18              0        0        0        0        1        1
19              1        0        1        0        0        0
20              0        0        1        1        0        0
21              0        0        0        0        1        1
22              1        0        0        1        0        0
23              0        1        0        0        0        0

#### データの統合

In [181]:
df_final = df_users.set_index("user_id")\
    .join(df_tags_onehot, how="left")\
    .join(df_transactions_onehot, how="left")\
    .fillna(0)

In [182]:
print(df_final.head())

         gender  relationship_id       age  area_id_1  area_id_2  area_id_3  \
user_id
1             0                1  0.890625          1          0          0
2             0                1  0.953125          0          0          1
3             0                1  1.000000          0          1          0
4             1                2  0.859375          0          0          0
5             1                2  0.984375          0          0          0

         area_id_4  area_id_5  area_id_6  area_id_7  ...  tag_23  tag_24  \
user_id                                              ...
1                0          0          0          0  ...       0       1
2                0          0          0          0  ...       0       0
3                0          0          0          0  ...       0       0
4                0          1          0          0  ...       0       0
5                1          0          0          0  ...       0       0

         tag_25  tag_26  store_1  store_2  store_3  store_4  store_5  store_6
user_id
1             0       0      3.0      0.0      0.0      0.0      0.0      0.0
2             0       0      0.0      3.0      0.0      0.0      0.0      0.0
3             0       0      1.0      0.0      3.0      0.0      1.0      0.0
4             0       0      1.0      0.0      0.0      3.0      1.0      0.0
5             0       0      0.0      0.0      0.0      1.0      3.0      1.0

[5 rows x 45 columns]

In [188]:
df_final.to_excel("~/Desktop/users_data.xlsx", index=True, engine="openpyxl")

In [3]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
from sklearn.metrics.pairwise import cosine_similarity

# データベースの接続情報
DB_USER = "ryoueno"
DB_PASSWORD = "tech0-himdb"
DB_HOST = "tech0-gen-8-step4-him-database.mysql.database.azure.com"
DB_PORT = 3306
DB_NAME = "hsp-db"

# MySQLに接続
engine = create_engine(f"mysql+mysqlconnector://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

# Usersテーブルの情報取得
query_users = "SELECT user_id, gender, relationship_id, area_id, birth_date FROM Users;"
df_users = pd.read_sql(query_users, engine)
df_users["gender"] = df_users["gender"].map({"M": 0, "F": 1, "U": 2})

# 年齢の計算
df_users["age"] = pd.to_datetime("today").year - pd.to_datetime(df_users["birth_date"]).dt.year
df_users.drop(columns=["birth_date"], inplace=True)

# 年齢の画像表示 Min-Maxスケーリング
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_users["age"] = scaler.fit_transform(df_users[["age"]])

df_users = pd.get_dummies(df_users, columns=["area_id"])
area_columns = [col for col in df_users.columns if col.startswith("area_id_")]
df_users[area_columns] = df_users[area_columns].astype(int)


#UserTags情報の取得
query_tags = """SELECT u.user_id, t.tag_id FROM UserTags u JOIN Tags t ON u.tag_id = t.tag_id;"""
df_tags = pd.read_sql(query_tags, engine)
# ワンホットエンコーディング
df_tags_onehot = df_tags.pivot_table(index="user_id", columns="tag_id", aggfunc="size", fill_value=0)
df_tags_onehot = df_tags_onehot.add_prefix("tag_")

#PointTransaction情報の取得
query_transactions = "SELECT user_id, store_id FROM pointtransaction WHERE user_id IS NOT NULL;"
df_pointtransaction = pd.read_sql(query_transactions, engine)
# ワンホットエンコーディング
df_transactions_onehot = df_pointtransaction.pivot_table(index="user_id", columns="store_id", aggfunc="size", fill_value=0)
df_transactions_onehot = df_transactions_onehot.add_prefix("store_")


#データの統合
df_final = df_users.set_index("user_id")\
    .join(df_tags_onehot, how="left")\
    .join(df_transactions_onehot, how="left")\
    .fillna(0)

print(df_final.head())

         gender  relationship_id       age  area_id_1  area_id_2  area_id_3  \
user_id
1             0                1  0.890625          1          0          0
2             0                1  0.953125          0          0          1
3             0                1  1.000000          0          1          0
4             1                2  0.859375          0          0          0
5             1                2  0.984375          0          0          0

         area_id_4  area_id_5  area_id_6  area_id_7  ...  tag_23  tag_24  \
user_id                                              ...
1                0          0          0          0  ...       0       1
2                0          0          0          0  ...       0       0
3                0          0          0          0  ...       0       0
4                0          1          0          0  ...       0       0
5                1          0          0          0  ...       0       0

         tag_25  tag_26  store_1  store_2  store_3  store_4  store_5  store_6
user_id
1             0       0      3.0      0.0      0.0      0.0      0.0      0.0
2             0       0      0.0      3.0      0.0      0.0      0.0      0.0
3             0       0      1.0      0.0      3.0      0.0      1.0      0.0
4             0       0      1.0      0.0      0.0      3.0      1.0      0.0
5             0       0      0.0      0.0      0.0      1.0      3.0      1.0

[5 rows x 45 columns]

In [4]:
# コサイン類似度の計算
cosine_sim = cosine_similarity(df_final)
# 結果をデータフレームに変換
cosine_sim_df = pd.DataFrame(cosine_sim, index=df_final.index, columns=df_final.index)
# コサイン類似度行列の表示
print(cosine_sim_df)

user_id        1         2         3         4         5         6         7   \
user_id
1        1.000000  0.128895  0.308396  0.337396  0.163334  0.099048  0.218574
2        0.128895  1.000000  0.127018  0.170142  0.172051  0.105382  0.475521
3        0.308396  0.127018  1.000000  0.265276  0.316961  0.097512  0.284837
4        0.337396  0.170142  0.265276  1.000000  0.582269  0.272739  0.462496
5        0.163334  0.172051  0.316961  0.582269  1.000000  0.361249  0.589205
6        0.099048  0.105382  0.097512  0.272739  0.361249  1.000000  0.177554
7        0.218574  0.475521  0.284837  0.462496  0.589205  0.177554  1.000000
8        0.169966  0.180886  0.426628  0.465545  0.305197  0.213470  0.303806
9        0.203041  0.213572  0.602862  0.362811  0.358803  0.164998  0.491309
10       0.128917  0.136126  0.125279  0.183947  0.326589  0.652750  0.248795
11       0.344584  0.197986  0.325396  0.632796  0.683126  0.215862  0.584995
12       0.164769  0.385247  0.446864  0.317684  0.229762  0.216570  0.309855
13       0.216916  0.314628  0.286904  0.406704  0.471421  0.175868  0.650812
14       0.210051  0.659909  0.120760  0.254596  0.179896  0.238843  0.445167
15       0.212555  0.470788  0.204281  0.459751  0.519500  0.172505  0.623009
16       0.373526  0.529521  0.223102  0.382181  0.374192  0.245881  0.599224
17       0.593047  0.227010  0.381767  0.458367  0.343294  0.226548  0.548122
18       0.285949  0.230370  0.269933  0.526017  0.622030  0.386626  0.637637
19       0.435810  0.247477  0.472715  0.433411  0.425063  0.191986  0.587536
20       0.211602  0.219469  0.380757  0.575481  0.505916  0.275055  0.628483
21       0.349874  0.223731  0.328085  0.418428  0.576529  0.389741  0.567688
22       0.407622  0.288136  0.261553  0.688803  0.452871  0.276390  0.553980
23       0.221621  0.515704  0.272995  0.371610  0.420400  0.178702  0.585683
24       0.222530  0.302070  0.209243  0.492399  0.421190  0.235262  0.586609
25       0.228064  0.236077  0.281302  0.384101  0.434564  0.183844  0.605776
26       0.298814  0.238439  0.281282  0.497536  0.427231  0.241056  0.593640
27       0.232759  0.241280  0.219076  0.387760  0.438621  0.187763  0.695039
28       0.210388  0.217117  0.261298  0.422692  0.468693  0.169337  0.573744
29       0.216331  0.223105  0.201802  0.374561  0.423972  0.232085  0.508447
30       0.209427  0.216055  0.195472  0.421896  0.409444  0.224446  0.572682

user_id        8         9         10  ...        21        22        23  \
user_id                                ...
1        0.169966  0.203041  0.128917  ...  0.349874  0.407622  0.221621
2        0.180886  0.213572  0.136126  ...  0.223731  0.288136  0.515704
3        0.426628  0.602862  0.125279  ...  0.328085  0.261553  0.272995
4        0.465545  0.362811  0.183947  ...  0.418428  0.688803  0.371610
5        0.305197  0.358803  0.326589  ...  0.576529  0.452871  0.420400
6        0.213470  0.164998  0.652750  ...  0.389741  0.276390  0.178702
7        0.303806  0.491309  0.248795  ...  0.567688  0.553980  0.585683
8        1.000000  0.481582  0.179808  ...  0.388694  0.382374  0.304650
9        0.481582  1.000000  0.230139  ...  0.448268  0.577651  0.462098
10       0.179808  0.230139  1.000000  ...  0.433868  0.260132  0.360358
11       0.368437  0.453896  0.223379  ...  0.700984  0.606476  0.485977
12       0.370318  0.506859  0.179787  ...  0.321238  0.511773  0.330383
13       0.300634  0.506962  0.252214  ...  0.517631  0.585835  0.708430
14       0.173613  0.225874  0.139580  ...  0.264851  0.259411  0.448136
15       0.404770  0.486927  0.244449  ...  0.490779  0.632493  0.670677
16       0.324946  0.475805  0.283919  ...  0.691299  0.604839  0.785546
17       0.386538  0.436060  0.260967  ...  0.566018  0.729625  0.585007
18       0.393828  0.585044  0.428920  ...  0.711177  0.628219  0.602975
19       0.418570  0.682160  0.364907  ...  0.601101  0.647954  0.621037
20       0.468824  0.645765  0.340419  ...  0.582919  0.689370  0.602986
21       0.388694  0.448268  0.433868  ...  1.000000  0.583067  0.622472
22       0.382374  0.577651  0.260132  ...  0.583067  1.000000  0.603075
23       0.304650  0.462098  0.360358  ...  0.622472  0.603075  1.000000
24       0.305965  0.537595  0.361056  ...  0.622584  0.669725  0.644155
25       0.412047  0.477557  0.281799  ...  0.645642  0.625355  0.668119
26       0.316267  0.544462  0.279322  ...  0.623089  0.670682  0.644401
27       0.320164  0.482291  0.376041  ...  0.646159  0.626275  0.668475
28       0.478845  0.525113  0.264004  ...  0.689146  0.666576  0.642226
29       0.296426  0.620338  0.272339  ...  0.643165  0.621949  0.739986
30       0.382249  0.598807  0.350697  ...  0.688895  0.799434  0.641999

user_id        24        25        26        27        28        29        30
user_id
1        0.222530  0.228064  0.298814  0.232759  0.210388  0.216331  0.209427
2        0.302070  0.236077  0.238439  0.241280  0.217117  0.223105  0.216055
3        0.209243  0.281302  0.281282  0.219076  0.261298  0.201802  0.195472
4        0.492399  0.384101  0.497536  0.387760  0.422692  0.374561  0.421896
5        0.421190  0.434564  0.427231  0.438621  0.468693  0.423972  0.409444
6        0.235262  0.183844  0.241056  0.187763  0.169337  0.232085  0.224446
7        0.586609  0.605776  0.593640  0.695039  0.573744  0.508447  0.572682
8        0.305965  0.412047  0.316267  0.320164  0.478845  0.296426  0.382249
9        0.537595  0.477557  0.544462  0.482291  0.525113  0.620338  0.598807
10       0.361056  0.281799  0.279322  0.376041  0.264004  0.272339  0.350697
11       0.566002  0.585789  0.569471  0.505751  0.638678  0.496139  0.558391
12       0.436271  0.340638  0.444110  0.346016  0.317395  0.327046  0.421323
13       0.622058  0.552900  0.627204  0.737082  0.612184  0.543041  0.611348
14       0.448729  0.281770  0.365785  0.285049  0.264805  0.364456  0.264104
15       0.589287  0.694284  0.595260  0.527829  0.578142  0.598026  0.577212
16       0.644395  0.667512  0.717384  0.669294  0.638887  0.661950  0.638385
17       0.585407  0.672761  0.588240  0.674691  0.643652  0.600149  0.643120
18       0.669526  0.624919  0.803816  0.626670  0.730617  0.688347  0.663804
19       0.621577  0.643264  0.625498  0.786831  0.681739  0.706051  0.613023
20       0.736146  0.694384  0.670344  0.695043  0.666915  0.622326  0.733255
21       0.622584  0.645642  0.623089  0.646159  0.689146  0.643165  0.688895
22       0.669725  0.625355  0.670682  0.626275  0.666576  0.621949  0.799434
23       0.644155  0.668119  0.644401  0.668475  0.642226  0.739986  0.641999
24       1.000000  0.668168  0.715600  0.668613  0.713386  0.665819  0.713143
25       0.668168  1.000000  0.668137  0.693321  0.666635  0.691373  0.666435
26       0.715600  0.668137  1.000000  0.669298  0.711787  0.664068  0.711407
27       0.668613  0.693321  0.669298  1.000000  0.665912  0.690437  0.665622
28       0.713386  0.666635  0.711787  0.665912  1.000000  0.667101  0.714289
29       0.665819  0.691373  0.664068  0.690437  0.667101  1.000000  0.667119
30       0.713143  0.666435  0.711407  0.665622  0.714289  0.667119  1.000000

[30 rows x 30 columns]

In [191]:
cosine_sim_df.to_excel("~/Desktop/cosine_sim_df.xlsx", index=True, engine="openpyxl")

#### イベント情報を届けるロジック

In [5]:
# 類似ユーザーの抽出
def get_similar_users(user_id, top_n=5):
    return cosine_sim_df[user_id].sort_values(ascending=False).iloc[1:top_n+1]

In [21]:
#類似ユーザーの抽出test
target_user_id = 1 #ログインしているユーザー
similar_users = get_similar_users(target_user_id).index
similar_users

Index([17, 19, 22, 16, 21], dtype='int64', name='user_id')

In [22]:
# 類似ユーザーが訪問した店舗・イベントを集計
similar_users = get_similar_users(target_user_id).index
existing_users = [user for user in similar_users if user in df_transactions_onehot.index] # df_transactions_onehot に存在するユーザーだけフィルタ
if existing_users:
    recommended_stores = df_transactions_onehot.loc[existing_users].sum().sort_values(ascending=False)
    print(f"ユーザー {target_user_id} におすすめの店舗:")
    print(recommended_stores.head())
else:
    print(f"ユーザー {target_user_id} に類似ユーザーの来店履歴がありません。")

ユーザー 1 におすすめの店舗:
store_id
store_1    4
store_2    1
store_3    1
store_4    1
store_5    1
dtype: int64

In [17]:
similar_users

Index([19, 20, 29, 3, 30], dtype='int64', name='user_id')

In [16]:
existing_users

[19, 20, 3]

In [ ]:
# 類似ユーザーのイベント履歴の取得:
def get_similar_users_events(user_id, cosine_sim_df, event_history_df, top_n=5):
    similar_users = cosine_sim_df[user_id].sort_values(ascending=False).index[1:top_n+1]
    similar_users_events = event_history_df[event_history_df['user_id'].isin(similar_users)]
    return similar_users_events